.videos_grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  overflow-y: auto;
  background-color: black;
  justify-content: center;
  align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  scrollbar-track-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9900ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6a00b1;
}

video {
  height: 250px;
  width: 300px;
  object-fit: cover;
}

.main_message_container {
  display: flex;
  background-color: #242324;
}

.main {
  height: 100vh;
  display: flex;
}

.main_left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}

.main_right {
  flex: 0.2;
  background-color: #242324;
  border-left: 1px solid #3d3d42;
  display: flex;
  flex-direction: column;
}

.main_controls {
  background-color: #1c1e20;
  color: #d2d2d2;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.main_controls_block {
  display: flex;
}

.main_controls_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  min-width: 80px;
  cursor: pointer;
}

.main_controls_button:hover {
  background-color: #343434;
  border-radius: 5px;
}

.main_controls_button i {
  font-size: 24px;
}

.main_chat_window {
  flex-grow: 1;
  overflow-y: auto;
}

.messages {
  color: white;
  list-style: none;
}

.leave_meeting {
  color: #eb534b;
}

.unmute,
.stop {
  color: #90f;
}

.main__header {
  color: white;
  list-style: none;
  padding: 5px;
}
