<!DOCTYPE html>
<html>
<head>
    <title>STU Moodle</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
</head>
<body>
<div class="hero">
    <nav>
        <h2 class="logo">Moodle<span>STU</span></h2>
        <ul>
            <li><button onclick="addExistCourse()">Add an existing course</button></li>
            <li><button onclick="addNewCourse()">Create a new course</button></li>
        </ul>
    </nav>
    <div class="content">
        <br><br><br><br>
        <div>
            <h2 class="Student_details"> Student details:</h2>
            <ul id="coursesList">
                <li id="name">&nbspName: </li>
                <li id="id">&nbspID: </li>
            </ul>
        </div>
        <br><br><br><br>
        <div class="courses">
            <h2 class="courses_list"> Courses List:</h2><br>
            <ul id="coursesList"></ul>
        </div>
    </div>
</div>
</body>
</html>