.videos_grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  overflow-y: auto;
  background-color: #242324;
  justify-content: center;
  align-items: center;
}

/* width of all scrollbars */
::-webkit-scrollbar {
  width: 0.75em;
}

/* shape of track [circular in the ends] and change of color */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vw;
  margin-block: 0.5em;
}
/* color of the scrollbar-thumb [the thing you actually scroll up and down] */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
      to bottom,
      hsl(276, 100%, 50%) 0%,
      hsla(0, 0%, 100%, 0) 60%,
      hsla(0, 0%, 0%, 0) 50%,
      hsl(276, 100%, 50%) 100%
    ),
    linear-gradient(to right, hsl(0, 100%, 50%) 0%, hsla(0, 0%, 50%, 0) 100%);
  border-radius: 100vw;
  border: 0.25em solid hsl(300 1% 14% / 1);
}

/* style change when hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
      to bottom,
      hsl(276, 100%, 35%) 0%,
      hsla(0, 0%, 100%, 0) 60%,
      hsla(0, 0%, 0%, 0) 50%,
      hsl(276, 100%, 35%) 100%
    ),
    linear-gradient(to right, hsl(325, 100%, 66%) 80%, hsla(0, 0%, 50%, 0) 100%);
}

video {
  height: 550px;
  width: 1000px;
  padding: 10px;
  margin: 5px;
  background-color: #90f;
  background-blend-mode: exclusion;
  object-fit: cover;
  padding: 5px;
}
